body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.bloco {
    padding: 32px calc(50vw - 480px);
}
.escopo {
    padding: 16px calc(50vw - 480px);
    background-color: #333333;
    color: white;
}
.escopo > * {
    margin-top: 0;
    margin-bottom: 0;
}
#mensagem {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 50px;
    padding: 10px calc(50vw - 480px);
    height: 20px;
    text-align: right;
    font-family: monospace;
    color: #888888;
    z-index: 1;
}
/* 01 */
nav {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #cccccc;
}
.menu {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    position: relative;
    transition: all ease 0.3s;
}
.menu > li > a {
    display: block;
    padding: 10px 15px 0;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    box-sizing: content-box;
    border-bottom: 10px solid transparent;
    transition: all ease 0.3s;
}
.menu > li:hover > a {
    background-color: #eeeeee;
    border-bottom-color: #333333;
}
.menu > li > ul {
    position: absolute;
    top: 80px;
    min-width: 180px;
    list-style-type: none;
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
}
.menu > li > ul a {
    display: block;
    line-height: 35px;
    padding: 0px 15px;
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all ease 0.3s;
}
.menu > li > ul a:hover {
    background-color: #cccccc;
}

.botao {
    height: 80px;
    width: 80px;
    position: relative;
    transition: background-color ease 0.3s;
    cursor: pointer;
}
.botao:hover {
    background-color: #eeeeee;
}
.botao > span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 40px;
    background-color: #333333;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: all ease 0.3s;
}
.fechado .botao > span {
    transform: translate(-50%, -50%);
}
.fechado .botao > span:first-child {
    transform: translate(-50%, calc(-50% + 10px));
}
.fechado .botao > span:last-child {
    transform: translate(-50%, calc(-50% - 10px));
}

.botao > span {
    transform: translate(-50%, -50%) rotate(45deg);
}
.botao > span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.fechado > .menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
}

/* 02 */
#lampada {
    background-color: black;
    position: relative;
}
#lampada > img {
    width: 100%;
    transition: all ease 1s;
}
.apagada > img {
    opacity: 0;
}
#interruptor {
    position: absolute;
    top: 40px;
    width: 100%;
    display: block;
    text-align: right;
}
#interruptor > img {
    cursor: pointer;
    transform: rotate(180deg);
}

.apagada #interruptor > img {
    transform: translate(2px, 2px);
}

.treme-treme {
    animation: tremer 500ms infinite;
}

@keyframes tremer {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/* 04 */
.bloco-de-texto-ver-mais {
    margin: 10px 0;
    border: 1px solid #eeeeee;
    padding: 0 20px;
    border-radius: 5px;
}
.bloco-de-texto-ver-mais h3:hover {
    cursor: pointer;
    text-decoration: underline;
}
.bloco-de-texto-ver-mais p {
    color: #555555;
}

/* 05 */
#carrossel {
    display: flex;
}
#carrossel img {
    max-width: 100%;
}
#carrossel > ul {
    width: 150px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

#carrossel > ul li {
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.3s;
}
#carrossel > ul li.selecionado,
#carrossel > ul li:hover {
    opacity: 1;
}
#carrossel #principal {
    padding-right: 10px;
}
#carrossel #imagem-principal {
    width: 100%;
}

/* 6 */
#modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}
#modal > div {
    max-width: 600px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
button, input {
    background: none;
    border: 1px solid #cccccc;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    min-width: 150px; 
}
button {
    transition: background-color ease .2s;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}
button:hover {
    background-color: #dddddd;
}

/* 07 */
#sete-maravilhas ul {
    padding: 0;
    list-style: none;
    display: flex;
}
#sete-maravilhas ul > li {
    width: calc(100% / 7);
    padding-right: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#sete-maravilhas ul > li > img {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all ease .3s;
    opacity: 0.5;
}
#sete-maravilhas ul > li:hover > img {
    opacity: 1;
}
#sete-maravilhas ul > li > *:not(img) {
    display: none;
}
#sete-maravilhas ul > li > span {
    display: inline-flex;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg) translateX(-15px);
    font-size: 22px;
    padding-left: 10px;
    z-index: 2;
    opacity: 1;
}
#sete-maravilhas-apresentacao {
    display: flex;
    justify-content: space-between
}
#sete-maravilhas-apresentacao > div {
    width: calc(50% - 20px);
}
#sete-maravilhas-apresentacao img {
    max-width: 100%;
}
#sete-maravilhas-apresentacao h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
}
#sete-maravilhas-apresentacao p {
    line-height: 1.5em;
}

/* 09 */
.materia {
    line-height: 1.5em;
}
.materia h1 {
    font-size: 40px;
}
.materia h2 {
    margin-top: 2em;
    font-size: 18px;
}
article {
    max-width: 600px;
}
.bibliografia {
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}
.capa {
    background-color: black;
}
.materia img {
    display: block;
    max-width: 100%;
    margin: 40px auto;
}
.capa img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/*
Tabela
*/
table td {
    padding: 20px;
}
table thead {
    font-weight: bold;
}
table thead td {
    border-bottom: 1px solid #333333;
    background-color: #f1f1f1;
}
table tbody td {
    border-bottom: 1px solid #cccccc;
}